<!DOCTYPE html>
<html>
    <%- include('partials/head') %> 
    <body>
        <%- include('partials/headerNavbar') %>
        <div class="perfil">
            <h2>Hola <%= user.name%> </h2>
            <img src="/images/avatars/<%=user.avatar%>">
            <br>
            <br>
            <h3><%=user.email%></h3>
                
    
        </div>
    
        
        <%- include('partials/footer') %>
        
    </body>
</html>